<div class="footer bg-gray-100 py-8">
    <div class="container">
        <h2 class="text-2xl mb-3">Get The FreshCart App</h2>
        <p class="mb-2 text-gray-800">We Will Send You A link, Open it on Your Phone To Download The App</p>
        <div class="input grid grid-cols-[1fr_auto] gap-4 w-full mb-5">
            <input type="text" class="p-1 px-3 border-0 rounded-md  placeholder:text-gray-600" placeholder="Email">
            <button class="main-btn">Share App Link</button>
        </div>
        <div class="foot flex justify-between">
            <div class="left flex items-center">
                <span class="me-4">Payment Partners</span>
                <img src="/images/amazon-pay.png" alt="Amazon Pay" class="w-16 me-1">
                <img src="/images/American-Express-Color.png" alt="American Express"class="w-16 me-1">
                <img src="/images/paypal.png" alt="paypal" class="w-16 me-1">
                <img src="/images/mastercard.webp" alt="mastercard" class="w-16">
            </div>
            <div class="right flex items-center">
                <span class="me-3">Get Delivery With FreshCart</span>
                <img src="/images/get-google-play.png" alt="google-play" class="w-24 me-1">
                <img src="/images/get-apple-store.png" alt="apple-store" class="w-24 me-1">
            </div>
        </div>
    </div>
</div>